@import '../../styles/UI-kit.scss';

.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 60px;
  background-color: $bg;

  box-sizing: border-box;
  padding: 40px;

  @media (width < $sm) {
    padding: 10px;
  }
  @media (width < $lg) {
    height: 100%;
  }
}

.content {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}